html {
    min-height:100%;
    max-width: 100%; 
    position:relative; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888; 
    line-height: 30px;
    text-align: center;
}

.navbar {
    background-color:rgb(75,115,151, 0.45);
}

.nav-link {
    color: white; 
}

.nav-link:hover {
    color: #888;
}

.nav-item {
    color: white; 
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
}

.nav-item:last-child {
    border-right: none; 
}

.nav-item:hover {
    text-decoration: none;
}

strong { font-weight: 600; }
 
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

h2 {
    margin-bottom: 15px; 
}

.about-header {
    margin-bottom: 30px; 
}

.portfolio-container {
    padding-bottom: 40px;
}

.portfolio-header {
    margin-top: 30px;
    margin-bottom: 40px; 
}

.jumbotron {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/lightbulb_background.jpg");
    background-size: cover; 
    background-position-x: 100%;  
    background-position-y: 46%
}
  
.jumbotron  h1 {
    color: #fff;
}

.jumbotron h4 {
    color: #fff;
}

.about-container {
    padding-top: 15px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    margin-bottom: 30px; 

}

.about-box-text {
    padding-right: 15px;
    text-align: left;
}

 
.about-box-img img {
    border-radius: 4px;
    
}

.portfolio-background-color {
    background-color: rgb(110,111,115, .10);
    padding: 15px; 
}

.card {
    border-radius: 4px;
    text-align: center; 
}
 
.card-img-top {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
    height: 200px; 
}


.site-link {
    text-decoration: none;
    color:  #888;
}

.site-link:hover{
    text-decoration: none;
    color:  #888;
}

.repo-link {
    text-decoration: none;
    color: #4b7397;
}

.repo-link:hover{
    text-decoration: none; 
    color: #4b7397;
}
 
.card:hover {
    -o-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}
 
.contact-container {
    padding-top: 40px;
}

.contact-icons {
    color: #6e6f73;
    margin-top: 15px; 
    margin-bottom: 15px;
    padding-bottom: 40px;
}

#footer {
    position: fixed;
    position: static; 
    bottom: 0;
    width: 100%;
    height: 55px;
    color: white;
    background-color: rgb(75,115,151, .65);
}
 