body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    min-height:100%
}
 
strong { font-weight: 600; }
 
a, a:hover, a:focus {
    color: #9b59b6;
    text-decoration: none;
    transition: all .3s;
}
 
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

.navbar {
    background: #444;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}
 
.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 
.navbar-brand {
    width: 136px;
    border: 0;
    text-indent: -99999px;
}

.jumbotron {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/option_3.jpg");
    background-size: cover; 
    background-position-x: 100%;  
    background-position-y: 46%
}
  
.jumbotron  h1 {
    color: #fff;
}

.jumbotron h4 {
    color: #fff;
}

.about-container {
    min-height: 50vh; 
}

.about-box-text {
    padding-right: 15px;
    text-align: left;
}


.about-box-text a {
    border-bottom: 1px dashed #9b59b6;
}
 
.about-box-text a:hover,
.about-box-text a:focus {
    border: 0;
}
 
.about-box-img img {
    border-radius: 4px;
    
}

.portfolio-container {
    min-height: 50vh; 
}

 
.portfolio-box-image {
    border-radius: 4px;
}
 
.portfolio-box-image img {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
    border-radius: 4px;
    height: 20vh; 
}

.portfolio-box {
    text-align: center; 
}
 
.portfolio-box-image:hover img {
    -o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
 
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, 
.portfolio-box h3 a:focus { color: #9b59b6; }

.contact-container .container {
    min-height: 50vh; 
}
 
